<div class="container">

  <div class="items">
    <h2 class="title">Hottest NFTs 🔥</h2>

    <div class="row">
      <% @nfts.where(availability: true).sample(3).each do |nft| %>
        <div class="nft d-flex flex-column col-3">
          <div class="image">
            <%= image_tag("image_pilot.png", class: "image-tag") %>
          </div>
          <div class="details">
            <%= link_to nft_path(nft) do %>
              <div class="item item-name"><strong><%= nft.name %></strong></div>
            <% end %>
            <div class="item description"><%= nft.description %></div>
            <div class="item price">$<%= nft.price %>/week</div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="items">
    <h2 class="title">Tous les NFTs 🐵</h2>

    <div class="row">
    <% @nfts.each do |nft| %>
      <div class="nft d-flex flex-column col-3">
        <div class="image">
          <%= image_tag("image_pilot.png", class: "image-tag") %>
        </div>
        <div class="details">
          <%= link_to nft_path(nft) do %>
            <div class="item item-name"><strong><%= nft.name %></strong></div>
          <% end %>
            <div class="item description"><%= nft.description %></div>
            <div class="item price">$<%= nft.price %>/week</div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
