<div class="container">

  <div class="items">
    <h2 class="title">Hottest NFTs 🔥</h2>

    <div class="row">
      <% @nfts.where(availability: true).sample(3).each do |nft| %>
        <%= link_to nft_path(nft) do %>
          <div class="nft d-flex flex-column">
            <div class="image">
              <% if nft.photo.attached? %>
                <%= cl_image_tag(nft.photo.key, class: "image-tag") %>
              <% else %>
                <%= image_tag("image_pilot.png", class: "image-tag") %>
              <% end %>
            </div>
            <div class="details">
              <div class="item item-name"><strong><%= nft.name %></strong></div>
              <div class="item description"><%= nft.description %></div>
              <div class="item price">$<%= nft.price %>/day</div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="items">
    <h2 class="title">Tous les NFTs 🐵</h2>

    <div class="row">
    <% @nfts.each do |nft| %>
        <%= link_to nft_path(nft) do %>
          <div class="nft d-flex flex-column">
            <div class="image">
              <% if nft.photo.attached? %>
                <%= cl_image_tag(nft.photo.key, class: "image-tag") %>
              <% else %>
                <%= image_tag("image_pilot.png", class: "image-tag") %>
              <% end %>
            </div>
            <div class="item price">$<%= nft.price %>/day</div>
            <div class="details">
              <div class="item item-name"><strong><%= nft.name %></strong></div>
              <div class="item description"><%= nft.description %></div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
