<div class="container">
  <div class="items">
    <div class="two-columns">
      <div class="column-left">
        <div class="@nft d-flex flex-column">
          <div class="image">
            <%= image_tag("image_pilot.png", class: "image-tag") %>
          </div>
        </div>
      </div>

      <div class="column-right">
          <div class="details">
            <div class="item item-name"><strong><%= @nft.name %></strong></div>
            <div class="item description"><%= @nft.description %></div>
            <div class="item owner"><%= @nft.user.username %></div>
            <div class="item show-price">$<%= @nft.price %>/week</div>
          </div>
      </div>
    </div>
  </div>

<% if @nft.user == current_user %>
  <%= link_to 'Delete', nft_path(@nft), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
  <%= link_to 'Edit', edit_nft_path(@nft) %>
<% end %>


<%= simple_form_for [@nft, @transaction], data: { controller: 'datepicker' }, html: { class: 'reservation-form' } do |f| %>
  <%= f.input :begin_date, as: :string, input_html: { data: { datepicker_target: "begin_at", action: "change->datepicker#send"} } %>
  <%= f.input :end_date, as: :string, input_html: { data: { datepicker_target: "end_at" }} %>
  <%= f.submit 'Schedule your reservation' %>
<% end %>

</div>
