<div class="container">
  <h1><%= @nft.name %></h1>

  <ul class="list-group">
    <li class="list-group-item">Description: <%= @nft.description %></li>
    <li class="list-group-item">Price: <%= @nft.price %></li>
    <li class="list-group-item">Availability: <%= @nft.availability %></li>
    <li class="list-group-item">ID: <%= @nft.user_id %></li>
  </ul>

<%= link_to 'Delete', nft_path(@nft), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_nft_path(@nft) %>
<%= link_to 'Back', root_path %>


<%# @disabled_start_date = Transaction.all.map {|t| t.begin_date}
 %>



<%= simple_form_for [@nft, @transaction], data: { controller: 'datepicker' }, html: { class: 'reservation-form' } do |f| %>
  <%= f.input :begin_date, as: :string, input_html: { data: { datepicker_target: "begin_at", action: "change->datepicker#send"} } %>
  <%= f.input :end_date, as: :string, input_html: { data: { datepicker_target: "end_at" }} %>
  <%= f.submit 'Schedule your reservation' %>
<% end %>


</div>
