<div class="container">
  <h1><%= @nft.name %></h1>

  <ul class="list-group">
    <li class="list-group-item">Description: <%= @nft.description %></li>
    <li class="list-group-item">Price: <%= @nft.price %></li>
    <li class="list-group-item">Availability: <%= @nft.availability %></li>
    <li class="list-group-item">ID: <%= @nft.user_id %></li>
  </ul>
</div>
