<div class="container">
  <h1><%= @nft.name %></h1>

  <ul class="list-group">
    <li class="list-group-item">Description: <%= @nft.description %></li>
    <li class="list-group-item">Price: <%= @nft.price %></li>
    <li class="list-group-item">Availability: <%= @nft.availability %></li>
    <li class="list-group-item">ID: <%= @nft.user_id %></li>
  </ul>

<%= link_to 'Delete', nft_path(@nft), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_nft_path(@nft) %>
<%= link_to 'Back', root_path %>

<%# <div id="transaction-form">
<form action="/nfts/:nft_id/transactions" "nft_transaction" method="post">
<input data-controller="datepicker" type="text" id="dateRangePicker" placeholder="Sélectionnez une plage de dates">
<button name="submit">
Submit a reservation
</button>
</form>
</div> %>
<%# pseudo code %>
<%# je veux ajouter un button submit qui va prendre en compte la dateRangePi %>
<%# en appuyant sur submit, on va aller chercher le path de transaction create
et on va redirect vers profile/path qui show les pending transactions %>
<%# sur profile/path, sur une pending transactions, on va ajouter un boutton validate
et un boutton refuse, le validate renvoie au pages controller action validate et refuse renvoie sur le pages controller action refuse  %>


</div>
