<div class="container container-dashboard">

  <div class="left-column">
    <div class="items-transactions">
      <h2 class="hello">Hello <span class="underline--magical"><%= current_user&.username || current_user&.email %></span> 🚀</h2>
    </div>

    <div class="items">
    <h2 class="title">My rented NFTs ⏳</h2>
      <div class="list">
        <% @renteds.each do |rented| %>
          <%= rented.name %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="right-column">


    <div class="items-transactions">
        <h2 class="title">My pendings 👋</h2>

          <div class="transactions">
            <% @transactions.each do |transaction| %>
                <div class="transaction">
                  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(transaction.nft.photo.key, class: "image-transaction") %>)">
                    <div class="transaction-content">
                      <div class="item-tr name"><%= transaction.nft.name %></div>
                      <% b_date = Time.parse(transaction.begin_date.to_s) %>
                      <% e_date = Time.parse(transaction.end_date.to_s) %>
                      <div class="item-tr date">du <%= b_date.strftime('%d-%m-%Y') %></div>
                      <div class="item-tr date">au <%= e_date.strftime('%d-%m-%Y') %></div>
                      <div class="action-btns">
                        <%= link_to ('<i class="fa-solid fa-check"></i>').html_safe, validate_path(transaction), data: { turbo_method: 'patch' } %>
                        <%= link_to ('<i class="fa-solid fa-xmark"></i>').html_safe, refuse_path(transaction), data: { turbo_method: 'patch' } %>
                      </div>
                    </div>
                  </div>
                </div>
              </ul>
            <% end %>
          </div>

    </div>

    <div class="items">
      <h2 class="title">All my NFTs 🐵</h2>

      <div class="row-dash">
        <% @nfts.each do |nft| %>
          <%= link_to nft_path(nft) do %>
            <div class="nft d-flex flex-column">
              <div class="image">
                <% if nft.photo.attached? %>
                  <%= cl_image_tag(nft.photo.key, class: "image-tag") %>
                <% else %>
                  <%= image_tag("image_pilot.png", class: "image-tag") %>
                <% end %>
              </div>
              <div class="item price">$<%= nft.price %>/day</div>
              <div class="details">
                <div class="item item-name"><strong><%= nft.name %></strong></div>
                <div class="item description"><%= nft.description %></div>
                <div class="item username"><%= nft.user.username %></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="add-section">
  <div class="text-add">Ajouter un NFT</div>
  <%= link_to ('<i class="fa-solid fa-plus"></i>').html_safe, new_nft_path, class: "add-nft" %>
</div>
